---
import { homeAPI } from "../api/home";

const runtime = Astro.locals.runtime

const {meta_tags, home, news, speciality, testimonials} = await homeAPI(runtime.env.ENVIRONMENT)

// LAYOUTS
import Layout from "../layouts/Layout.astro"

// COMPONENTS
import Header from "../components/common/Header.astro";
import Footer from "../components/common/Footer.astro";
import HeaderBanner from "../components/common/HeaderBanner.astro";

import Hero from "../components/home/Hero.astro";
import Customers from "../components/home/Customers.astro";
import Speciality from "../components/home/Speciality.astro";
import Data from "../components/home/Data.astro";
import Quotes from "../components/home/Quotes.astro";
import Blog from "../components/home/Blog.astro";

// CONSTANTS
import { OG_IMAGE } from "../constants/website";
import Container from "../layouts/Container.astro";
---

<Layout
	title={meta_tags.title}
	description={meta_tags.description}
	image={OG_IMAGE}
>
	{/* BluppCo Ad banner on staging */}
	<HeaderBanner />

	{/* Header */}
	<Header />

	<div class="py-[14em] bg-baseBackground text-white">
		<Container>

			{/* Hero Text */}
			<Hero data={home} />

			<Customers data={home} />

			{/* Work */}
			<Speciality data={speciality} />

			{/* Metric Data */}
			<Data data={home} />

			{/* Quotes */}
			<Quotes data={testimonials} />

			{/* Blogs */}
			<Blog data={news} />

		</Container>
	</div>

	{/* Footer */}
	<Footer />
</Layout>
