---
import { Icon } from "astro-icon/components";

const { domain, work, project, img, alt } = Astro.props;
---

<div class="flex justify-between pt-8 pb-16 border-t">
  <div class="flex flex-col justify-between flex-1 pr-4">
    <div class="text-2xl uppercase">
      <p class="font-bold">{domain}</p>
      <p>{work}</p>
    </div>
    <div class="flex items-center justify-between">
      <span
        class="font-bold text-xl hover:text-brandYellow transition delay-150 cursor-pointer"
        >{project}</span
      >
      <Icon name="boldArrow" class="text-brandYellow" />
    </div>
  </div>
  <img src={img} alt={alt} />
</div>
